In [1]:
import numpy as np
import pandas as pd
import re
import time
import unidecode

df = pd.read_csv('./books_to_scrape/spiders/scraped_data.csv')
df.head(15)

,title,tag,rating,product_desc,UPC,product_type,price_excl_tax,price_incl_tax,tax,availability,number_of_reviews,images
0,Tipping the Velvet,Historical Fiction,One,"""Erotic and absorbing...Written with starling ...",90fa61229261140a,Books,£53.74,£53.74,£0.00,In stock (20 available),0.0,NaN
1,Set Me Free,Young Adult,Five,Aaron Ledbetter’s future had been planned out ...,ce6396b0f23f6ecc,Books,£17.46,£17.46,£0.00,In stock (19 available),0.0,NaN
2,A Light in the Attic,Poetry,Three,It's hard to imagine a world without A Light i...,a897fe39b1053632,Books,£51.77,£51.77,£0.00,In stock (22 available),0.0,NaN
3,Scott Pilgrim's Precious Little Life (Scott Pi...,Sequential Art,Five,Scott Pilgrim's life is totally sweet. He's 23...,3b1c02bac2a429e6,Books,£52.29,£52.29,£0.00,In stock (19 available),0.0,NaN
4,Rip it Up and Start Again,Music,Five,"Punk's raw power rejuvenated rock, but by the ...",a34ba96d4081e6a4,Books,£35.02,£35.02,£0.00,In stock (19 available),0.0,NaN
5,Our Band Could Be Your Life: Scenes from the A...,Music,Three,This is the never-before-told story of the mus...,deda3e61b9514b83,Books,£57.25,£57.25,£0.00,In stock (19 available),0.0,NaN
6,Libertarianism for Beginners,Politics,Two,Libertarianism isn't about winning elections; ...,a18a4f574854aced,Books,£51.33,£51.33,£0.00,In stock (19 available),0.0,NaN
7,Mesaerion: The Best Science Fiction Stories 18...,Science Fiction,One,"Andrew Barger, award-winning author and engine...",e30f54cea9b38190,Books,£37.59,£37.59,£0.00,In stock (19 available),0.0,NaN
8,Olio,Poetry,One,"Part fact, part fiction, Tyehimba Jess's much ...",feb7cc7701ecf901,Books,£23.88,£23.88,£0.00,In stock (19 available),0.0,NaN
9,Shakespeare's Sonnets,Poetry,Four,This book is an important and complete collect...,30a7f60cd76ca58c,Books,£20.66,£20.66,£0.00,In stock (19 available),0.0,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[{'url': 'http://books.toscrape.com/media/cach...
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[{'url': 'http://books.toscrape.com/media/cach...
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[{'url': 'http://books.toscrape.com/media/cach...
13,"Starving Hearts (Triangular Trade Trilogy, #1)",Default,Two,"Since her assault, Miss Annette Chetwynd has b...",0312262ecafa5a40,Books,£13.99,£13.99,£0.00,In stock (19 available),0.0,NaN
14,The Boys in the Boat: Nine Americans and Their...,Default,Four,For readers of Laura Hillenbrand's Seabiscuit ...,e10e1e165dc8be4a,Books,£22.60,£22.60,£0.00,In stock (19 available),0.0,NaN

In [2]:
def process_product_desc(string):
    if string[-7:] == '...more':
        string = string[:-7]
    return unidecode.unidecode(string)
    
def process_availability(string):
    string = re.findall("\d", string)
    return int("".join(string))

def process_rating(string):
    mapping = {"One": 1, "Two": 2, "Three": 3, "Four": 4, "Five": 5}
    return mapping[string]

def process_price(string):
    string = string[1:]
    price = round(1.25 * float(string), 2)
    return price

df.drop(['product_type', 'tax', 'number_of_reviews', 'images'], axis=1, inplace=True)

df.dropna(axis=0, how='all', inplace=True)
df.rating = df.rating.apply(process_rating)
df.product_desc = df.product_desc.apply(process_product_desc)

# (df.price_excl_tax == df.price_incl_tax).all()
df.drop('price_excl_tax', axis=1, inplace=True)
df.rename(columns={"price_incl_tax": "price_USD"}, inplace=True)

df.price_USD = df.price_USD.apply(process_price)
df.availability = df.availability.apply(process_availability)
df.reset_index(drop=True, inplace=True)

df.head(15)

,title,tag,rating,product_desc,UPC,product_type,price_USD,availability
0,Tipping the Velvet,Historical Fiction,1,"""Erotic and absorbing...Written with starling ...",90fa61229261140a,Books,67.17,20
1,Set Me Free,Young Adult,5,Aaron Ledbetter's future had been planned out ...,ce6396b0f23f6ecc,Books,21.83,19
2,A Light in the Attic,Poetry,3,It's hard to imagine a world without A Light i...,a897fe39b1053632,Books,64.71,22
3,Scott Pilgrim's Precious Little Life (Scott Pi...,Sequential Art,5,Scott Pilgrim's life is totally sweet. He's 23...,3b1c02bac2a429e6,Books,65.36,19
4,Rip it Up and Start Again,Music,5,"Punk's raw power rejuvenated rock, but by the ...",a34ba96d4081e6a4,Books,43.78,19
5,Our Band Could Be Your Life: Scenes from the A...,Music,3,This is the never-before-told story of the mus...,deda3e61b9514b83,Books,71.56,19
6,Libertarianism for Beginners,Politics,2,Libertarianism isn't about winning elections; ...,a18a4f574854aced,Books,64.16,19
7,Mesaerion: The Best Science Fiction Stories 18...,Science Fiction,1,"Andrew Barger, award-winning author and engine...",e30f54cea9b38190,Books,46.99,19
8,Olio,Poetry,1,"Part fact, part fiction, Tyehimba Jess's much ...",feb7cc7701ecf901,Books,29.85,19
9,Shakespeare's Sonnets,Poetry,4,This book is an important and complete collect...,30a7f60cd76ca58c,Books,25.82,19
10,"Starving Hearts (Triangular Trade Trilogy, #1)",Default,2,"Since her assault, Miss Annette Chetwynd has b...",0312262ecafa5a40,Books,17.49,19
11,The Boys in the Boat: Nine Americans and Their...,Default,4,For readers of Laura Hillenbrand's Seabiscuit ...,e10e1e165dc8be4a,Books,28.25,19
12,The Coming Woman: A Novel Based on the Life of...,Default,3,"""If you have a heart, if you have a soul, Kare...",e72a5dfc7e9267b2,Books,22.41,19
13,The Black Maria,Poetry,1,"Praise for Aracelis Girmay:""[Girmay's] every l...",1dfe412b8ac00530,Books,65.19,19
14,The Dirty Little Secrets of Getting Your Dream...,Business,4,Drawing on his extensive experience evaluating...,2597b5a345f45e1b,Books,41.68,19

In [3]:
df.to_json('dataset.json', orient="records")
df[:14].to_json('sample_dataset.json', orient="records")